body {
    font-family: sans-serif;
  }
html{
  height: 100%;
}
  body{
    display: flex;
    background-color: lightblue;
    height: 100%;
    width: 100%;
    margin:0;
    justify-content: center;
    align-items: center;
  }

.box{
  display:flex;
  background-color: lightcoral;
  width: 300px;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

box{
  width: 80px;
  height: 80px;
  background-color: white;
}

.mainbox:hover{
  background-color: red;
}